@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital@0;1&family=Roboto:wght@400;700&display=swap');

// Fontes
$primary-font: 'roboto', 'sans-serif';

// Esquema de cores
$background-color: #fad390;
$primary-color: #ad280a;
$secondary-color: #e55039;
$title-color: #cfa92b;

// Breacpoints
$mobile: 767px;
$tablet: 1023px;